
<table class="table">
  <thead>
  <th>STT</th>
  <th>Địa chỉ</th>
  <th>Ngày sinh</th>
  <th>Email</th>
  <th>Giới tính</th>
  <th>CMND/CCCD</th>
  <th>Tên khách hàng</th>
  <th>Số điện thoại</th>
  <th>Loại khách</th>
  <th></th>
  <th>Xóa</th>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><span ></span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-facility-edit></app-facility-edit>
    </td>
    <td>
      <button
              type="button" class="btn btn-danger" data-bs-toggle="modal"
              data-bs-target="#exampleModal3">
        Xóa
      </button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <app-customer-create></app-customer-create>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" >Previous</a>
    </li>
    <li class="page-item"><a class="page-link" >1</a></li>
    <li class="page-item"><a class="page-link" >2</a></li>
    <li class="page-item">
      <a class="page-link" >Next</a>
    </li>
  </ul>
</nav>

<!-- Modal delete-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel3">Xóa khách hàng</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input hidden id="idDelete" name="idDelete">
          <span>
                        Bạn có chắc chắn muốn xóa <span style="color: red" id="nameDelete"></span>
                    </span>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
            <button type="submit" class="btn btn-primary">Xóa</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function getInfoCustomerEdit(id, name, dayOfBirth, gender, idCard, phoneNumber, email, address, customerType) {
    $('#id1').val(id);
    $('#name1').val(name);
    $('#birthdate1').val(dayOfBirth);
    $('#idCard1').val(idCard);
    $('#phoneNumber1').val(phoneNumber);
    $('#email1').val(email);
    $('#address1').val(address);
  }

  function getInfoCustomerDelete(id, name) {
    document.getElementById("idDelete").value = id;
    document.getElementById("nameDelete").innerText = name;
  }

  //Kiểm tra định dạng ngày giờ của ngày sinh
  function validateDate(dateString) {
    // Kiểm tra định dạng ngày giờ
    var regex = /^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}$/;
    if (!regex.test(dateString)) {
      return false;
    }

    // Chuyển đổi thành đối tượng Date
    var date = new Date(dateString);

    // Kiểm tra tính hợp lệ của đối tượng Date
    if (isNaN(date.getTime())) {
      return false;
    }

    return true;
  }

  //Kiểm tra định dạng ngày sinh và tính hợp lệ
  function checkBirthday() {
    var birthdate = $("#birthdate").val();
    var birthdateEdit = $('#birthdate1').val();
    if (birthdateEdit === ""){
      if (!validateDate(birthdate)) {
        alert("Ngày sinh không hợp lệ!");
      } else {
        var birthYear = new Date(birthdate).getFullYear();
        var currentYear = new Date().getFullYear();
        var age = currentYear - birthYear;
        var birthdateThisYear = new Date(currentYear, new Date(birthdate).getMonth(), new Date(birthdate).getDate());
        if (new Date() < birthdateThisYear) {
          age--;
        }
        if (age > 90) {
          alert("Tuổi của bạn đã quá giới hạn so với quy định (<=90)");
        } else if (age < 18) {
          alert("Bạn chưa đủ 18 tuổi");
        } else {
          $("#customer").submit();
        }
      }
    } else if (!validateDate(birthdateEdit)) {
      alert("Ngày sinh không hợp lệ!");
    } else {
      var birthYear = new Date(birthdate).getFullYear();
      var currentYear = new Date().getFullYear();
      var age = currentYear - birthYear;
      var birthdateThisYear = new Date(currentYear, new Date(birthdate).getMonth(), new Date(birthdate).getDate());
      if (new Date() < birthdateThisYear) {
        age--;
      }
      if (age > 90) {
        alert("Tuổi của bạn đã quá giới hạn so với quy định (<=90)");
      } else if (age < 18) {
        alert("Bạn chưa đủ 18 tuổi");
      } else {
        $("#customer").submit();
      }
    }

  }

  function onCloseModal() {
    document.getElementById('exampleModal').style.display = 'none';
    window.location.href = "/customers";
  }

</script>
