<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/customers/list">Danh sách khách hàng</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form [formGroup]="formSearch" (ngSubmit)="submitSearch()">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <input class="form-control me-2" type="search" placeholder="Tên khách hàng" aria-label="Search"
                   formControlName="nameSearch">
          </li>
          <li class="nav-item">
            <input class="form-control me-2" type="search" placeholder="Email khách hàng" aria-label="Search"
                   formControlName="emailSearch">
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <select formControlName="customerTypeId" class="form-select" aria-label="Default select example">
              <option *ngFor="let customerType of customerTypes"
                      [ngValue]="customerType.id">{{customerType.name}}</option>
            </select>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>

<table class="table">
  <thead>
  <th>STT</th>
  <th>Địa chỉ</th>
  <th>Ngày sinh</th>
  <th>Email</th>
  <th>Giới tính</th>
  <th>CMND/CCCD</th>
  <th>Tên khách hàng</th>
  <th>Số điện thoại</th>
  <th>Loại khách</th>
  <th></th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers | paginate: { itemsPerPage: 5, currentPage: page}; index as i">
    <td>{{i + 1}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.dateOfBirth}}</td>
    <td>{{customer.email}}</td>
    <td *ngIf="customer.gender ? 'Nam':'Nữ'"></td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.phoneNumber}}</td>
    <td>{{customer.customerType.name}}</td>
    <td>
      <app-facility-edit></app-facility-edit>
    </td>
    <td>
      <button
        type="button" class="btn btn-danger" (click)="getInfo(customer.name, customer.id)">
        Xóa
      </button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <a class="btn btn-primary" routerLink="/customers/create" role="button">+</a>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
<div class="has-text-centered d-flex justify-content-center">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
